head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1,minimal-ui")

  title kolibridev/gulp-blender

  //- meta(name="description", content='')
  //- meta(name="keywords", content=''}

  //- meta(property="og:title", content="kolibridev/gulp-blender")
  //- meta(property="og:description", content="")
  //- meta(property="og:image", content="")
  //- meta(property="og:image:type", content="image/jpg")
  //- meta(property="og:image:width", content="1200")
  //- meta(property="og:image:height", content="627")

  //- link(href="/favicon.ico", rel="icon", type="image/x-icon")
  //- link(href='/favicon.ico', rel='shortcut icon', type='image/vnd.microsoft.icon')
  //- link(href="/img/favicon.png", rel="icon", type="image/png")

  meta(name="apple-mobile-web-app-capable", content="yes")

  //- //- Retina >= iOS 7
  //- link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/img/ico/apple-touch-icon-precomposed-152.png")
  //- link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/img/ico/apple-touch-icon-precomposed-120.png")
  //- //- Retina <= iOS 6
  //- link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/img/ico/apple-touch-icon-precomposed-144.png")
  //- link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/img/ico/apple-touch-icon-precomposed-114.png")
  //- //- Non-retina
  //- link(rel="apple-touch-icon-precomposed", sizes="72x72",   href="/img/ico/apple-touch-icon-precomposed-72.png")
  //- link(rel="apple-touch-icon-precomposed",                  href="/img/ico/apple-touch-icon-precomposed-57.png")

  //- //- Windows Pinned site
  //- meta(name="application-name", content=title)
  //- //- Appears when you hover over the pinned site shortcut
  //- meta(name="msapplication-tooltip", content="Tooltip text on hover")
  //- //- Root url of the application
  //- meta(name="msapplication-starturl", content="./")
  //- //- Pinned site window size
  //- meta(name="msapplication-window", content="width:1200;height:768")
  //- //- Color of back/fwd buttins in pinned site browser window
  //- meta(name="msapplication-navbutton-color", content="#ff3300")

  //- Windows 8 tiles
  //- meta(name="msapplication-TileImage", content="/ico/msapplication-TileImage-144.png")
  //- meta(name="msapplication-TileColor", content="#00ff00")

  script(type='text/javascript' src='js/vendor/modernizr.js')

  link(rel='stylesheet', href='css/main.css')
  script(data-main='js/main', src='js/vendor/require.js')
