doctype html
//[if lt IE 9]><html class="no-js lt-ie10 lt-ie9"><![endif]
//[if IE 9]>   <html class="no-js lt-ie10 ie9"><![endif]
//[if gt IE 9]><!
html.no-js
  //<![endif]
  include _head

  body
    block header

    block content

    block footer

    block javascript
